#pcCalorias.chart-legend-item-label{
    
    -fx-text-fill: white;
    
}

.chart-legend-item-label{
    
    -fx-text-fill: white;
    
}

#pcCalorias{
    
    -fx-text-fill: white;
    
}